* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fbf8f1;
  margin: 0px;
}

.headercontent {
  background-image: url(https://images.unsplash.com/photo-1605184861755-8f190fea96a5?);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 120px;
  max-width: 100%;
}

.headerlogo {
  max-width: 60px;
  position: relative;
  padding-top: 2%;
}

.titulo1 {
  text-align: center;
}

article {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.project-content {
  padding: 20px; /* Adicione o espaçamento desejado */
}

.about {
  display: flex;
}

.img-bio {
  width: 250px;
  padding: 20px;
  border-radius: 10%;
}

.aboutme {
  text-align: center;
}

blockquote {
  margin-top: 12%;
  font-size: 13px;
}
cite {
  font-size: 13px;
}
